<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=bookstore,host=${HOSTNAME},level=%level,
                    service_name=book-service
                </pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                    "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
                    "level": "%level",
                    "class": "%logger{36}",
                    "thread": "%thread",
                    "message": "%message",
                    "exception": "%xEx",
                    "requestId": "%X{X-Request-ID}",
                    "traceId": "%X{traceId}"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>